{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 shadow-sm">
            <div class="p-3 mb-2 bg-secondary text-white">
                <h5>Update Task</h5>
            </div>
            <div class="p-3 mb-2 bg-gradient-warning text-dark">
                <form method="POST" class="mb-3"  >
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-danger" type="submit" value="Update"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}